body {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;

  font-size: 1.5rem;
}

main{
  margin: 4rem;

  #page-title {
    margin: 0 0 0 0;
  } 

  .tag-line {
    margin: 5px 0 0 0; 
  }

  menu {
    padding: 0;
    margin: 5px 0 0 0; 
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0 0;
    padding: 0;
  }

  a, a:visited {
    color: blue;
    text-decoration: none;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left:0;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

