* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;

  font-size: 1.5rem;

  background-color: #f0f0f0;
}

a, a:visited {
    color: blue;
    /* text-decoration: none; */
  }


header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;

  p {
    margin: 0;
  }
}

main{
  /* margin: 4rem; */

  #page-title {
    margin: 0 0 0 0;
  }

  .tag-line {
    margin: 5px 0 0 0;
  }

  menu {
    padding: 0;
    margin: 5px 0 0 0;
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0 0;
    padding: 0;
  }


  .gallery-item {
    /* border: 1px solid black; */
  }

  .wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    /* padding: 1rem; */
  }

  .pagination {
    text-align: center;
    margin: 2rem 0;
  }
  .gallery-item {
    position: relative;
    background: white;
    /* border-radius: 8px; */
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out;

    .sketch-title {
      display: none;
      font-size: 1.8rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -70%);
      color: blue;
    }
  }
  .gallery-item:hover {
    /* transform: scale(1.05); */
    .sketch-title {
      display: block;
    }

    img {
      opacity: 0.5;
    }
  }
  .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
  }
  .gallery-item p {
    margin: 10px 0;
    font-size: 14px;
    color: #333;
  }

  @media (min-width: 768px) {
    .gallery {
      grid-template-columns: repeat(7, 1fr);
      gap: 0;
      padding: 0;
    }
  }

  @media (min-width: 1200px) {
    .wrapper {
      max-width: 1400px;
    }
  }

}

footer {
  /* position: fixed; */
  /* bottom: 0; */
  /* left: 0; */
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

@media (min-width: 1200px) {
  header {
    max-width: 1400px;
  }
}

